body {
    padding: 0;
    margin-inline: 1vw;
    box-sizing: border-box; 
    background: rgb(37,89,164);
    background: radial-gradient(circle, rgba(37,89,164,1) 0%, rgba(124,176,255,1) 40%, rgba(170,204,255,1) 60%, rgba(255,255,255,1) 89%);
    text-align: center;
    font-family: Haettenschweiler, sans-serif;
  }
  /*---Header---*/
  h1 {
    color: white;
  }
  h2{
    color: wheat;
    font-size: 18px;
  }
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-inline: 30%;
    border-radius: 10rem;
  }
  .tittle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .tittle img{
    width: 8%;
  }
/*--- Define a CSS keyframe animation named 'spin'---*/
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
/* Apply the 'spin' animation to the image */
#spinning-img{
  animation: spin 8s linear infinite; /* You can adjust the duration and timing function */
}

  /*---Body-API---*/

  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .pokemon-block,
  .pokemon-block-back {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }
  
  .img-container {
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .pagination {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }
  
  .pagination{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  /*---Buttons---*/
  .pages{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    /* background-color: brown; */
    width: 100%;
    padding: 1rem;
  }
  .page-item{
    list-style: none;
    background-color: blue;
    padding-inline: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 15px;
    cursor:pointer;
  }

  #spin-mew{
    width: 10%;
  }

a{
    color: black;
}

a:visited{
    color: red;

}
a:hover{
    color: white;
}
a:active{

}